# Copy to .env for local overrides
SCSS_DEVTOOLS=false # true/false. SCSS tooling enables DevTools source maps only when this flag is truthy
USE_MOCK_DATA=false # true/false. Enables mock data mode (for now used only for L&F)
