// main.scss exports every $ef-* variable as a matching --ef-* property!

// Layout
$ef-nav-height: 60px;
$ef-footer-title-height: 60px;
$ef-border-radius: 6px;

// EF colours
$ef-green: #005953;
$ef-green-light: #69a3a2;
$ef-blue-link: #1277db;

// Neutral colours
$ef-white: #fff;
$ef-black: #000;
$ef-dark: #333;
$ef-border-gray: #666;
