@use "ef-variables" as *;
@use "ef-mixins" as *;

html::before {
    content: " ";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;

    @media only screen and (min-width: 1080px) {
        background-attachment: fixed;
        background-size: cover;
        background-position-x: center;
    }

    @media only screen and (max-width: 1080px) {
        background-attachment: scroll;
        background-position-y: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $ef-white;
}

main #content > section h1,
main #content > section h2,
main #content > section h3,
main #content > section h4,
main #content > section h5,
main #content > section h6,
main .uk-accordion-title {
    color: $ef-black;
}

#ef-home-banner {
    background-image: url(../img/pages/home/2026_Darbaras_EF31_Website_Art_65.jpg);
    text-align: right;
}

main a,
.uk-modal-body a,
main a:hover {
    color: $ef-green;
    text-decoration: underline;
}

main #content > section {
    background-color: rgba(255, 255, 255, 0.9);
    color: $ef-black;
}

footer a {
    color: $ef-white;

    &:hover {
        color: $ef-white;
        text-decoration: underline;
    }
}

nav {
    a {
        color: $ef-white;

        &:hover {
            color: $ef-white;
        }
    }
}
