:root {
	--ef-nav-height: 60px;
	--ef-footer-title-height: 60px;
	--ef-green: #005953;
	--ef-green-light: #69a3a2;
}

* {
	box-sizing: border-box;
}
html {
	background: #333;
	color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}
.uk-modal,
.uk-modal h1,
.uk-modal h2,
.uk-modal h3,
.uk-modal h4,
.uk-modal h5,
.uk-modal h6 {
	color: #333;
}

.uk-modal a[href^="http"]:not(.hide-ext, .uk-icon-button):after {
    display: inline-block;
    width: 14px;
    height: 10px;
    position: relative;
	left: 4px;
	content: " ";
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQo8cGF0aCBpZD0iUmVubm11dHplbCIgZD0ibTUuODgwNDc3LDQuODE0MTg3bC01LjE0Mjc2MSwwbDAsOC4xMjAxNDlsOC4xMjAxNTEsMGwwLC01LjE0Mjc2bS0yLjcwNjcxNywtNy4wMzc0NjRsMCwxLjM1MzM1OGwxLjM1MzM1OCwxLjM1MzM1OGwtNC4wNjAwNzUsNC4wNjAwNzVsMi43MDY3MTcsMi43MDY3MTZsNC4wNjAwNzUsLTQuMDYwMDc0bDEuMzUzMzU5LDEuMzUzMzU4bDEuMzUzMzU3LDBsMCwtNi43NjY3OTFsLTYuNzY2NzkxLDB6IiBzdHJva2U9IiM2NjYiIGZpbGw9InRyYW5zcGFyZW50Ii8+DQo8L3N2Zz4=);
    mask-repeat: no-repeat;
	mask-size: contain;
	background-color: #fff;
}

header, main, footer {
	margin: 20px auto;
	max-width: var(--uk-breakpoint-l, 1200px);
}

/* header */
header {
	z-index: 7;
}

header h1 {
	margin-top: 0;
	font-size: 4em;
	letter-spacing: 2px;
	overflow: hidden;
}
.ef-menubutton {
	display: inline-block;
	position: relative;
	top: 2px;
	width: 0.8em;
	height: 0.8em;
	margin: 0 8px;
	background: url(../img/logo.png) no-repeat;
	background-size: contain;
}

/* navigation */
nav {
	display: flex;
	position: relative;
	z-index: 8;
	height: var(--ef-nav-height);
	margin: 20px auto;
	background: var(--ef-green);
	/* background: linear-gradient(
		69deg,
		rgba(229, 0, 0, 0.4) 0%,
		rgba(255, 141, 0, 0.4) 25%,
		rgba(2, 129, 33, 0.4) 45%,
		rgba(255, 238, 0, 0.4) 60%,
		rgba(0, 76, 255, 0.4) 75%,
		rgba(119, 0, 136, 0.4) 100%
	); */
	border-radius: 6px;
}
nav > div#ef-nav-home a {
	display: block;
	width: var(--ef-nav-height);
	height: var(--ef-nav-height);
	background-image: url(../img/IMG_5904.PNG);
	background-size: 66%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: .66;
	cursor: pointer;
}
nav > div#ef-nav-home a:hover {
	opacity: 1;
}
nav > div:nth-of-type(2) {
	flex: 1;
}

nav a {
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	color: #fff;
	text-shadow: 0 0 2px white;
	text-decoration: none;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav > div > ul {
	display: flex;
	text-align: center;
}
nav > div > ul > li {
	position: relative;
	min-width: calc(100% / 6);
	height: var(--ef-nav-height);
}
nav > div > ul > li > a,
nav > div > ul > li > label {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: calc(var(--ef-nav-height) / 2 - .8rem);
	cursor: pointer;
}
/* nav > div > ul > li:first-child > a,
nav > div > ul > li:first-child > label {
	padding-left: 50px;
}
nav > div > ul > li:last-child > a,
nav > div > ul > li:last-child > label {
	padding-right: 50px;
} */
nav > div > ul > li > label:after {
	content: " ▼";
	font-size: .67em;
}
input[id="nav-ctl"],
input[name="subnav-ctl"] {
	position: fixed;
	top: -100vh;
	opacity: 0;
}
nav > div > ul > li:hover > ul,
nav > div > ul > li > ul:hover,
nav input[name="subnav-ctl"]:checked ~ ul {
	max-height: 100vh;
}
nav > div > ul ul {
	position: absolute;
	top: 100%;
	left: 10px;
	max-height: 0;
	overflow: hidden;
	background-color: var(--ef-green);
	border-radius: 0 0 4px 4px;
	transition: max-height .25s;
}
nav > div > ul ul a {
	display: inline-block;
	width: 100%;
	padding: 5px 10px;
}
nav > div > ul ul a:after {
	background-color: #fff !important;
}
nav > div > ul ul a:hover {
	background-color: #fff;
	color: var(--ef-green);
	text-decoration: none;
}
/* nav responsive for mobile */
label[for="nav-ctl"] {
	display: block;
	position: relative;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	z-index: 9;
	background-image: url(../img/menu.png);
	background-size: contain;
}
#nav-toggle {
	display: none;
}

/* body area */
main {
	position: relative;
}
#content {
	padding: 20px;
}
[class^="uk-card-media-"] a:hover img,
[uk-lightbox] a:hover img,
[uk-toggle]:hover {
	filter: brightness(0.75);
	cursor: pointer;
}
.ef-table-borders th, .ef-table-borders td {
	border: 1px solid #666;
}

/* landing page */
#ef-home-banner {
	height: 300px;
	color: #fff;
	padding: 20px 30px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 20px;
}
#ef-home-banner > div {
	margin: 20px 30px;
	padding: 20px;
	width: min(50%, 480px, 100%);
	position: absolute;
	font-weight: 600;
	background-color: rgba(0, 0, 0, 0.6);
}
#ef-home-photo {
	min-height: 400px;
	color: #000;
	background-repeat: no-repeat;
	background-size: cover;
}
#ef-home-photo > div {
	margin: 20px 30px;
	padding: 20px;
	background-color: rgba(255, 255, 255, .9);
	width: min(50%, 480px, 100%);
	position: absolute;
	right: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

/* footer */
footer {
	padding: 20px;
	background-color: var(--ef-green);
	border-radius: 6px;
}
footer .uk-button-group {
	display: inline-flex;
	vertical-align: middle;
	position: relative;
}
footer .uk-button-group a ~ a {
	margin-left: 3.5px; 
}
footer #ef-footer-title {
	position: relative;
	background-image: url(../img/IMG_5904.PNG);
	background-size: var(--ef-footer-title-height);
	background-repeat: no-repeat;
	min-height: var(--ef-footer-title-height);
	padding-left: calc(var(--ef-footer-title-height) + .2em);
}
footer h2 img {
	width: 1.2em;
	height: 1.2em;
}
footer h2 .uk-text-meta {
	position: absolute;
	top: 2.75em;
	color: #fff;
}
.page-rating-stars {
	display: inline-flex;
	font-size: 1.5em;
	letter-spacing: .1em;
}
.page-rating-stars > *.selected {
	filter: unset;
	color: gold;
}
.page-rating-stars:hover {
	text-decoration: none;
}

/* uikit overrides */
span.uk-icon {
	margin-right: 0.25em;
}
span.ef-uk-icon-lift {
	position: relative;
	top: -2px;
}
[class*="uk-column-"] > * {
	break-inside: avoid-column;
}
[class^="uk-"][class$="primary"] {
	background-color: var(--ef-green);
}
[class^="uk-"][class$="primary"]:hover {
	background-color: var(--ef-green-light);
}

/* convention links */
#links {
	display: block;
	width: 200px;
	height: 80px;
}

/* apps */
.ef-app-badge img {
	height: 36px;
}

/* utility classes */
.ef-people img {
	display: inline;
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	margin-right: 12px;
}

.ef-people h3 {
	margin: 0;
}

/* js-disabled */
.js-disabled {
	font-family: monospace;
	padding: 3px 8px;
	font-weight: 600;
	background-color: #000;
	color: white;
}

/* ef-badger */
.ef-new::after {
	content: "new";
	display: inline-block;
	height: .9em;
	line-height: .6em;
	font-size: .8em;
	font-weight: bold;
	padding: 0 4px;
	margin-left: 3px;
	background-color: #f00;
	color: #fff;
	border-radius: 3px;
}
#ef-badger a[href^="https://chrome.google.com"]::before,
#ef-badger a[href^="https://addons.mozilla.org"]::before {
	display: inline-block;
	position: relative;
	top: 2px;
	content: " ";
	width: 1em;
	height: 1em;
	background-size: contain;
	margin: 0 3px;
}
#ef-badger a[href^="https://chrome.google.com"]::before {
	background-image: url(../img/chrome.png);
}
#ef-badger a[href^="https://addons.mozilla.org"]::before {
	background-image: url(../img/firefox.png);
}

/* administrative */
.debug {
	display: block;
	position: relative;
	padding: 8px;
	font-family: monospace;
	border: 1px solid orange;
	color: #fff;
	background: transparent;
	font-size: 0.75em;
	line-height: 1em;
	overflow: visible;
}
.debug > h3 {
	font-size: 1em;
	position: absolute;
	right: 8px;
	margin-top: 0;
}
.debug:before {
	content: "debug";
	color: #000;
	background: orange;
	position: absolute;
	top: -.75em;
	left: 6px;
	padding: 1px 4px;
	border-radius: 2px;
}
#EFWebCoreAutoExport {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
	padding: 10px;
	background: #000;
	color: #fff;
}
