/*
	--uk-breakpoint-s: 640px;
	--uk-breakpoint-m: 960px;
	--uk-breakpoint-l: 1200px;
	--uk-breakpoint-xl: 1600px;
*/
 
@media (max-width: 960px) {
	#ef-home-banner > div,
	#ef-home-photo > div {
		width: calc(100% - 100px);
	}
}

@media (max-width: 640px) {
	nav > div:nth-of-type(2) {
		overflow-y: scroll;
	}
	nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		margin: 0;
		padding-top: 70px;
		overflow: hidden;
		border-radius: 0;
		max-width: 0;
		transition: max-width .25s;
	}
	nav > div > ul {
		text-align: left;
	}
	nav > div > ul > li {
		height: unset;
	}
	nav > div > ul > li > a {
		color: var(--ef-green);
		padding: 5px 10px;
		background-color: #fff;
		font-weight: 600;
	}
	nav > div > ul {
		display: block;
	}
	nav > div ul ul {
		position: relative;
		top: auto;
		max-height: unset;
		backdrop-filter: none;
		box-shadow: none;
		background-color: transparent;
		padding: 0 .66em;
	}
	nav > div ul label {
		color: #333;
	}
	nav > div > ul ul a {
		color: #fff;
	}
	nav > div > ul > li:first-child > a,
	nav > div > ul > li:first-child > label {
		/* padding-left: 10px; */
	}
	nav > div > ul > li:last-child > a,
	nav > div > ul > li:last-child > label {
		/* padding-right: 10px; */
	}

	/* Mobile nav toggle button */
	#nav-toggle {
		display: block;
		position: relative;
		z-index: 9;
		margin: 0.5rem;
		border: none;
		border-radius: 9999px;
		width: 3rem;
		height: 3rem;
		padding: 0.5rem;
		background: none;
		transition: ease 0.1s;
	}
	#nav-toggle:hover,
	#nav-toggle:focus {
		border: 2px solid #fff;
	}
}