:root {
    --ef-palette-1: #005953;
    --ef-palette-2: #fff;
}


h1, h2, h3, h4, h5, h6 {
	color: #fff;
}
main #content > section h1,
main #content > section h2,
main #content > section h3,
main #content > section h4,
main #content > section h5,
main #content > section h6,
main .uk-accordion-title {
    color: #000;
}

#ef-home-banner {
    background-image: url(../img/pages/home/2025_Eurofurence_Banner_by_Jukajo.jpg);
    text-align: right;
}
main a,
.uk-modal-body a {
	color: var(--ef-palette-1);
    text-decoration: underline;
}
main a:hover {
	color: var(--ef-palette-1);
	text-decoration: underline;
}
main #content > section {
    background-color: rgba(255, 255, 255, .9);
    color: #000;
}

footer a {
    color: var(--ef-palette-2);
}
footer a:hover {
    color: var(--ef-palette-2);
    text-decoration: underline;
}
nav a {
    color: var(--ef-palette-2);
}
nav a:hover {
	color: var(--ef-palette-2);
}