:root {
    --ef-palette-1: #ffa500;
    --ef-palette-2: #fff;
}

#ef-home-banner {
    background-image: url(../img/pages/home/banner_2025_2.gif);
    text-align: right;
}
main a {
	color: var(--ef-palette-1);
}
main a:hover {
	color: var(--ef-palette-1);
	text-decoration: underline;
}
footer a {
    color: var(--ef-palette-2);
}
footer a:hover {
    color: var(--ef-palette-2);
    text-decoration: underline;
}
nav a {
    color: var(--ef-palette-2);
}
nav a:hover {
	color: var(--ef-palette-2);
}